@model Pokemon.Models.PokemonDetails
<div class="text-center">
  <h3>@Model.Name</h3>
  <img src="@Model.ImageUrl" />
  <p>Especie: @Model.SpeciesName</p>
  <p>Altura: @Model.Height - Peso: @Model.Weight</p>
</div>
